body {
  background-color: tan;
  text-align: center;
}

#chicken {
  position: relative;
  border-radius: 1rem;
  width: 8vh;
}

#barn {
  width: 35vh;
}

.grid-container {
  display: inline-grid;
  height: 90vh;
  width: 90vw;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 30vh 30vh 30vh;
  border: 3px solid saddlebrown;
}
.grid-item {
  text-align: center;
}

#gridBarn {
  text-align: left;
}
